<div class="mt-3">
    <h1>Skills</h1>
    <div class="md:grid md:gap-4 md:grid-cols-12 lg:grid-cols-5 mt-5 ">
        <div class="skill flex flex-col md:col-span-4 lg:col-span-1">
            <div class="bg-nord-10 rounded-3xl w-24 h-24 text-center align-middle mx-auto">
                <span class="icon-embed text-nord-6 opacity-70 text-5xl justify-center items-center w-full h-full flex"></span>
            </div>
            <details class="md:h-40">
                <summary class="text-center text-xl mt-2 -ml-3 cursor-pointer">Programmierung</summary>
                <p>
                    <ul class="opacity-90">
                        <li>C/C++ (auch embedded)</li>
                        <li>Python</li>
                        <li>Java</li>
                        <li>JavaScript / TypeScript</li>
                        <li>C# / .NET</li>
                        <li>(pg-)SQL</li>
                    </ul>
                </p>
            </details>
        </div>
        <div class="mt-5 md:mt-0 skill flex flex-col md:col-span-4 lg:col-span-1">
            <div class="bg-nord-10 rounded-3xl w-24 h-24 text-center align-middle mx-auto">
                <span class="icon-memory text-nord-6 opacity-70 text-7xl justify-center items-center w-full h-full flex"></span>
            </div>
            <details class="md:h-40">
                <summary class="text-center text-xl mt-2 -ml-3 cursor-pointer">Digital Design</summary>
                <p>
                    <ul>
                        <li>Verilog</li>
                        <li>VHDL</li>
                        <li>Xilinx Vivado</li>
                    </ul>
                </p>
            </details>
        </div>
        <div class="mt-5 md:mt-0 skill flex flex-col md:col-span-4 lg:col-span-1">
            <div class="bg-nord-10 rounded-3xl w-24 h-24 text-center align-middle mx-auto">
                <span class="icon-autorenew text-nord-6 opacity-70 text-6xl justify-center items-center w-full h-full flex"></span>
            </div>
            <details class="md:h-40">
                <summary class="text-center text-xl mt-2 -ml-3 cursor-pointer">CI / CD</summary>
                <p>
                    <ul>
                        <li>Jenkins</li>
                        <li>Docker</li>
                        <li>SCM (git / subversion)</li>
                        <li>Ansible</li>
                    </ul>
                </p>
            </details>
        </div>
        <div class="mt-5 md:mt-0 skill flex flex-col md:col-span-4 lg:col-span-1">
            <div class="bg-nord-10 rounded-3xl w-24 h-24 text-center align-middle mx-auto">
                <span class="icon-http text-nord-6 opacity-70 text-7xl justify-center items-center w-full h-full flex"></span>
            </div>
            <details class="md:h-40">
                <summary class="text-center text-xl mt-2 -ml-3 cursor-pointer">Web Development</summary>
                <p>
                    <ul>
                        <li>HTML5 & CSS3</li>
                        <li>Vue</li>
                        <li>JavaScript / TypeScript</li>
                    </ul>
                </p>
            </details>
        </div>
        <div class="mt-5 md:mt-0 selection:flex flex-col md:col-span-4 lg:col-span-1">
            <div class="bg-nord-10 rounded-3xl w-24 h-24 text-center align-middle mx-auto">
                <span class="icon-tux text-nord-6 opacity-70 text-5xl justify-center items-center w-full h-full flex"></span>
            </div>
            <details class="md:h-40 mb-10 md:mb-0">
                <summary class="text-center text-xl mt-2 -ml-3 cursor-pointer">Linux</summary>
                <p>
                    <ul>
                        <li>Administration</li>
                        <li>Embedded Systems (Yocto)</li>
                        <li>Shell Scripting</li>
                    </ul>
                </p>
            </details>
        </div>

    </div>
</div>